*{

}
body{
    background-color: #075985;
}

#results{
    width:70%;
    height:5vh;
    border:2px solid black;
    margin:auto;
    padding:1rem;
    margin-top: 2rem;
    background-color: white;
}
h1{
    text-align: center;
    margin-top:5% ;
    
}
.container{
    display:flex;
    flex-direction: column;
    width:20vw;
    margin: auto;
}
#btn-translate{
    margin-top: 0.2rem;
    padding:0.5rem 1rem;
    margin-left:2rem ;
    margin-right:2rem ;
    border:2px solid black;
    
}
#date-of-birth{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border:2px solid black;
    height: 5vh;
    font-size: large;
}
#lucky-number{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border:2px solid black;
    height: 5vh;
    font-size: medium;
}
.footer{
    
    text-align: center;
    bottom: 0;
    padding: 1rem 1rem;
    
    margin-top: 30px;
}
.inside-footer{

    font-size:large ;
    color:white;
   
    font-weight:medium;
}
.link{
    text-decoration: none;
    font-size:large ;
    color:white;
    font-weight:medium;
}
.inline-link{
   
    list-style: none;
   
    display: inline;
    margin-right: 2rem;
}





